* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Calibri sans-serif;
    background-color: antiquewhite;
}

#container-cat {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cat {
    width: 15%;
}

a {
    color: black;
}

.menu > i:first-child {
    display: none;
}

.menu > ul li {
    display: inline-block;
    padding: 1rem;
    float: right;
}